<nav class="navbar navbar-default">
	<div class="container">
		<div class="col-sm-4 col-md-4">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">BEER WORLD</a>
			</div>
		</div>
		<div class="col-sm-4 col-md-4">
			<form class="navbar-form navbar-left" role="search">
	  			<div class="form-group">
	    			<input type="text" class="form-control" placeholder="ID or Name ..." id="searchBar">
	  			</div>
	  			<a type="button" class="btn btn-default search-post">Search</a>
			</form>
		</div>
		<div class="col-sm-4 col-md-4">
			<form class="navbar-form navbar-left" role="search">
	  			<span>Sort: </span>
	  			<div class="dropdown" style="display: inline-block;">
				  <button class="btn btn-default dropdown-toggle" type="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    Sort ...
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a href="/sortAZ">Name - A to Z</a></li>
				    <li><a href="/sortZA">Name - Z to A</a></li>
				  </ul>
				</div>
			</form>
		</div>
	</div>
</nav>