.post--img-small {
	width: 100px;
	height: 100px !important;
}

.post--description {
	height: 100px;
	overflow: hidden;
}

.post--name {
	height: 30px;
	overflow: auto;
}

.postDetail--img {
	height: 400px;
}